<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{/headerAndFooter::header}"></div>
<div class="container-fluid" style="margin-top: 10%">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-warning text-center">SERVICE DETAIL</h1>
        </div>
    </div>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Name service:</dt>
        <dd class="col-xl-4" th:text="${service.serviceName}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Area:</dt>
        <dd class="col-xl-4" th:text="${service.serviceArea}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Max people:</dt>
        <dd class="col-xl-4" th:text="${service.serviceMaxPeople}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Standard room:</dt>
        <dd class="col-xl-4" th:text="${service.standardRoom}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Description other convenience:</dt>
        <dd class="col-xl-4" th:text="${service.descriptionOtherConvenience}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Pool area:</dt>
        <dd class="col-xl-4" th:text="${service.poolArea}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Number of floors:</dt>
        <dd class="col-xl-4" th:text="${service.numberOfFloors}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Service type:</dt>
        <dd class="col-xl-4" th:text="${service.serviceType.serviceTypeName}"></dd>
    </dl>
    <dl class="row">
        <div class="col-xl-3"></div>
        <dt class="col-xl-2">Service type:</dt>
        <dd class="col-xl-4" th:text="${service.rentType.rentTypeName}"></dd>
    </dl>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <a th:href="@{/service/update/__${service.serviceId}__}" class="btn btn-primary">UPDATE</a>
            <span><button type="button" class="btn btn-warning float-right" data-toggle="modal"
                          data-target="#exampleModal">
                    Delete
                </button>
                </span>

            <!-- Modal -->
            <div class="modal fade" th:id="exampleModal" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm deleted</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 th:text="'Do you agree to delete '+${service.serviceName}+' service ?'"></h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <a th:href="@{/service/delete/__${service.serviceId}__}"
                               class="btn btn-warning">DELETE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{/headerAndFooter::footer}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>