<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<form th:object="${music}" th:action="@{/save}" method="post">
    <table>
        <tr>
            <td>Music Name:</td>
            <td><input th:field="*{name}" placeholder="Enter music name "></td>
            <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Singer Name:</td>
            <td><input th:field="*{singer}" placeholder="Enter singer name  "></td>
            <td style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input th:field="*{type}" placeholder="Enter music type "></td>
            <td style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
