<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<head th:replace="~{common_blog :: head}"></head>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/update}" th:object="${blog}"
          method="POST">
        <input type="hidden" th:field="*{codeBlog}">
        <div>
            <label>Name Blog</label>
            <input type="text" th:field="*{nameBlog}">
        </div>
        <div>
            <label>Content Blog</label>
            <input type="text" th:field="*{contentBlog}"/>
        </div>
        <input type="submit" value="Update">
    </form>
</div>
<footer th:replace="~{common_blog :: footer}"></footer>
</body>
</html>