<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<head th:replace="~{common_blog :: head}"></head>
<h3>View Blog Detail</h3>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div>
    <label>ID Blog:</label>
    <label th:text="${blog.codeBlog}"></label>
</div>
<div>
    <label>Name Blog:</label>
    <label th:text="${blog.nameBlog}"></label>
</div>
<div>
    <label>Conten Blog:</label>
    <label th:text="${blog.contentBlog}"></label>
</div>
<footer th:replace="~{common_blog :: footer}"></footer>
</body>
</html>