<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>CUSTOMER LIST</h2>
<h4 th:text="${success}"></h4>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Id Card</th>
        <th>Name</th>
        <th>Number Phone</th>
        <th>Gender</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="item, rowStat : ${customers} ">
        <td th:text="${item.customerId}"></td>
        <td th:text="${item.customerAddress}"></td>
        <td th:text="${item.customerBirthday}"></td>
        <td th:text="${item.customerEmail}"></td>
        <td th:text="${item.customerIDCard}"></td>
        <td th:text="${item.customerName}"></td>
        <td th:text="${item.customerPhone}"></td>
        <td th:text="${item.customerGender.gender}"></td>
        <td th:text="${item.customerType.customer_type_name}"></td>
        <td><a th:href="@{/{id}/edit(id=${item.customerId})}">edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${item.customerId})}">delete</a></td>
        <td><a th:href="@{/{id}/view(id=${item.customerId})}">view</a></td>
    </tr>
</table>
<div>
    <span>
        <a th:if="${customers.hasPrevious()}" th:href="@{/customer-list(page = ${customers.number -1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,customers.totalPages -1)}">
        <a th:href="@{/customer-list(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${customers.hasNext()}" th:href="@{/customer-list(page = ${customers.number +1})}">Next</a>
    </span>
</div>
</body>
</html>