<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<head th:replace="~{common_product :: head}"></head>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/update}" th:object="${product}"
          method="POST">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Manufacturer</label>
            <input type="text" th:field="*{manufacturer}"/>
        </div>
        <input type="submit" value="Update">
    </form>
</div>
<footer th:replace="~{common_product :: footer}"></footer>
</body>
</html>